{% extends 'layout.html' %}
{% block body %}



  
    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">
       
        

        <div style="margin: 5rem auto 5rem" class="form">
                <h1>check out  here</h1><br/>
                <h1>{{details.name}}</h1><br/>
                <h1>{{details.price}}</h1><br/>
                <img src='static/img/images/{{details.photo}}' style='height: 200px; width:200px;'>
                <form action='/add_check_out' method='post'>
                 <input type='hidden' name = 'id' value='{{details.id}}'> 
                 <br>  
                 <input type='submit' class="btn btn-lg btn-success">
                </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>
{% endblock %}

  